# Build directory might optionally be placed here
build/*
!build/env_c5
# Ignore .datasets
.datasets
c4
# Ignore model output
*.out
CPU_stats
CPU_stats.*
_read_error.nml

# Ignore most available_diags.* files, but add two as a sample
available_diags.0*
SIS.available_diags
SIS_fast.available_diags
!ocean_only/global_ALE/z/available_diags.000000
!ocean_only/global_ALE/layer/available_diags.000000

exitcode
fort.20
*.nc
*.nc.*
RESTART
ocean.stats
ocean.stats.*
seaice.stats
seaice.stats.*
# Ignore python .pyc files
*.pyc
.ipynb_checkpoints
# Ignore anything labeled ignore
*.ignore
# Ignore lcov files
lcov.*

#ignore currently-unused build scripts
!fms_build*
!ios_build*
!ios_setup.sh
!ocn_*
*~
!build_all.sh
cryo-examples
ice_null
ocean_null
src/ice_amip
src/ice_sis